﻿.e-multi-select-wrapper {
  box-sizing: border-box;
  cursor: text;
  line-height: normal;
  min-height: $ddl-control-height;
  padding: $ddl-control-placholder-padding;
  position: relative;
  user-select: none;
  width: 100%;

  &.e-delimiter {
    & .e-searcher {
      height: 27px;
      vertical-align: middle;& .e-dropdownbase {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  .e-delim-view {
    white-space: nowrap;

    &.e-delim-values.e-delim-overflow,
    &.e-delim-values.e-delim-total {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .e-chips.e-mob-chip.e-chip-selected .e-chips-close::before {
    color: $ddl-chip-mobile-font;
    font-size: $ddl-chip-close-font;
    left: $ddl-sel-chip-close-mobile-left;
    top: $ddl-sel-chip-close-mobile-top;
  }

  .e-chips.e-mob-chip.e-chip-selected .e-chipcontent {
    background-color: $ddl-chip-mobile-bg;
    color: $ddl-chip-mobile-font;
    padding: $ddl-chip-selected-padding;
  }

  .e-searcher.e-zero-size:not(.e-multiselect-box) {
    width: 0;

    input[type='text'] {
      height: 1px;
      min-height: 1px;
    }

  }

  .e-chips.e-mob-chip>.e-chipcontent {
    max-width: 100%;
  }
}

.e-bigger .e-multi-select-wrapper {
  min-height: $ddl-control-bigger-height;
}

.e-multi-select-wrapper.e-close-icon-hide {
  padding-right: 0;
}

.e-multi-select-wrapper .e-chips-collection {
  cursor: default;
  display: block;
}

.e-multi-select-wrapper .e-multi-hidden {
  border: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.e-multi-select-wrapper .e-chips {
  align-items: center;
  display: inline-flex;
  float: left;
  margin: $ddl-chip-margin;
  max-width: 100%;
  overflow: hidden;
  padding: $ddl-chip-padding;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-bigger .e-multi-select-wrapper .e-chips {
  margin: $ddl-chip-margin-bigger;
}

.e-multi-select-wrapper .e-chips>.e-chipcontent {
  max-width: 100%;
  overflow: hidden;
  padding: $ddl-chip-content-padding;
  text-indent: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-multi-select-wrapper.e-delimiter {
  .e-searcher {
    display: inline-block;
    float: none;
  }
}

.e-multi-select-wrapper .e-mob-chip.e-chips>.e-chipcontent,
.e-bigger .e-multi-select-wrapper .e-chips>.e-chipcontent {
  padding: $ddl-chip-mobile-content-padding;
}

.e-bigger .e-multi-select-wrapper .e-chips>.e-chipcontent {
  @if $ddl-multiselect-skin-name == 'bootstrap4' {
    padding: $ddl-chip-bigger-content-padding;
  }
}

#{&}.e-multiselect.e-rtl .e-multi-select-wrapper .e-mob-chip.e-chips>.e-chipcontent,
.e-bigger #{&}.e-multiselect.e-rtl .e-multi-select-wrapper .e-chips>.e-chipcontent {
  padding: $ddl-rtl-chip-mobile-content-padding;
}

.e-multi-select-wrapper .e-chips-close {
  align-self: center;
  display: flex;
  float: right;
  font-family: 'e-icons';
  height: $ddl-chip-close-square;
  margin: $ddl-chip-close-margin;
  width: $ddl-chip-close-square;
}

.e-multi-select-wrapper .e-mob-chip.e-chips .e-chips-close {
  margin: $ddl-chip-mobile-close-margin;
}

.e-multi-select-wrapper .e-chips-close.e-close-hooker {
  cursor: default;
  font-size: $ddl-closer-hooker-font;
  height: $ddl-chip-hooker-square;
  margin-top: $ddl-closer-margin-top;
  position: absolute;
  right: $ddl-chip-hooker-right;
  top: $ddl-closer-hooker-top;
  width: $ddl-chip-hooker-square;
}

.e-multiselect .e-down-icon .e-chips-close.e-close-hooker {
  right: $ddl-close-icon-left;
}

.e-bigger .e-multiselect .e-down-icon .e-chips-close.e-close-hooker {
  @if $ddl-multiselect-skin-name == 'Fabric' or $ddl-multiselect-skin-name == 'highcontrast' {
    right: 38px;
  }
}

.e-bigger .e-multi-select-wrapper .e-chips-close.e-close-hooker {
  @if $ddl-multiselect-skin-name == 'bootstrap4' {
    font-size: $ddl-closer-hooker-font-bigger;
  }
  margin-top: $ddl-closer-margin-top-bigger;
}

.e-multi-select-wrapper input[type='text'] {
  background: none;
  border: 0;
  font-family: $ddl-chip-font-family;
  font-size: $ddl-chip-font-size;
  font-weight: 400;
  height: $ddl-input-height;
  min-height: $ddl-input-height;
  outline: none;
  padding: 0;
  text-indent: $ddl-input-text-indent;
}

.e-bigger .e-multi-select-wrapper input[type='text'],
.e-multi-select-wrapper.e-mob-wrapper input[type='text'] {
  height: $ddl-input-height;
  min-height: $ddl-input-height;
}

.e-bigger .e-multi-select-wrapper input[type='text'] {
  @if $ddl-multiselect-skin-name == 'bootstrap4' {
    font-size: $ddl-chip-bigger-font-size;
  }
  height: $ddl-input-bigger-height;
  min-height: $ddl-input-bigger-height;
}

// sass-lint:disable no-vendor-prefixes
.e-multi-select-wrapper  input[type='text']::-ms-clear {
  display: none;
}

.e-multi-select-wrapper .e-searcher {
  display: block;
  float: left;
  width: auto;
}

.e-multi-select-wrapper .e-delim-values {
  font-family: $ddl-chip-font-family;
  font-size: $ddl-delim-font-size;
  line-height: $ddl-delimviewheight;
  max-width: 100%;
  padding-left: $ddl-delim-text-indent;
  padding-right: $ddl-delim-text-padding-right;
  vertical-align: middle;
}

.e-bigger .e-multi-select-wrapper .e-delim-values {
  line-height: $ddl-delimviewheight-bigger;
}

.e-bigger .e-multi-select-wrapper .e-delim-values .e-remain {
  @if $ddl-multiselect-skin-name == 'bootstrap4' {
    padding-left: 12px;
  }
}

.e-multi-select-list-wrapper .e-hide-listitem {
  display: none;
}

.e-multi-select-wrapper .e-delim-values .e-remain {
  color: $ddl-remains-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: $ddl-chip-font-size;
  padding-left: $ddl-remains-padding-left;
}

#{&}.e-multiselect.e-disabled .e-multi-select-wrapper,
#{&}.e-multiselect.e-disabled .e-multi-select-wrapper .e-chips .e-chips-close::before {
  cursor: not-allowed;
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chips-close {
  height: $ddl-chip-sel-mobile-height;
  left: $ddl-chip-mob-left;
  margin: $ddl-chip-sel-mobile-close-margin;
  margin-left: auto;
  position: relative;
  top: $ddl-chip-close-mob-top;
  width: $ddl-chip-sel-mobile-height;
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected {
  align-self: center;
  box-shadow: $ddl-popup-shadow-value;
  display: inline-flex;
  padding: $ddl-chip-mob-padding;
  width: 92%;
}

.e-multi-select-wrapper .e-ddl-disable-icon::before {
  content: '';
}

#{&}.e-multiselect.e-rtl .e-multi-select-wrapper.e-delimiter {
  .e-searcher {
    float: none;
  }
}

#{&}.e-multiselect.e-rtl {
  .e-multi-select-wrapper.e-close-icon-hide {
    padding-left: 0;
  }

  .e-multi-select-wrapper {
    padding: $ddl-rtl-wrapper;

    .e-chips.e-mob-chip.e-chip-selected .e-chips-close::before {
      left: $ddl-rtl-chip-sel-close-left;
    }

    .e-chips.e-mob-chip.e-chip-selected .e-chips-close {
      margin: 0;
    }

    .e-searcher {
      float: right;
    }

    .e-chips {
      float: right;
      margin: $ddl-rtl-mob-chip-content-margin;
      padding: $ddl-rtl-chip-padding;

      .e-chipcontent {
        padding: $ddl-rtl-chip-content-padding;
      }

      .e-chips-close {
        float: left;
      }

      .e-chips-close::before {
        left: $ddl-rtl-chip-close-left;
      }
    }

    .e-chips.e-mob-chip {
      padding: $ddl-rtl-mob-chip-padding;

      .e-chipcontent {
        padding: $ddl-rtl-mob-chip-content-padding;
      }
    }

    .e-chips.e-mob-chip.e-chip-selected {
      padding: $ddl-rtl-mob-sel-chip-padding;

      .e-chipcontent {
        padding: $ddl-rtl-mob-sel-chip-content-padding;
      }
  }

    .e-chips-close.e-close-hooker {
      left: $ddl-close-icon-left;
      position: absolute;
      right: auto;
  }

    .e-close-hooker::before {
      left: $ddl-rtl-hooker-left;
  }

    .e-delim-values .e-remain {
      padding-right: $ddl-remains-padding-left;
    }

  }
}

.e-multiselect.e-rtl .e-down-icon .e-chips-close.e-icon.e-close-hooker {
  left: $ddl-close-rtl-icon-left;
}

.e-multiselect.e-rtl .e-multi-select-wrapper.e-down-icon .e-close-hooker::before {
  left: $ddl-chip-close-rtl-left;
}

.e-popup.e-multi-select-list-wrapper .e-list-item .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $ddl-check-right-margin;
  position: relative;
  text-indent: 0;
  vertical-align: middle;
}

.e-bigger .e-popup.e-multi-select-list-wrapper .e-list-item .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $ddl-bigger-check-right-margin;
}

.e-popup.e-multi-select-list-wrapper.e-rtl .e-list-item .e-checkbox-wrapper {
  margin-left: 12px;
  margin-right: 0;
}

.e-popup.e-multi-select-list-wrapper.e-rtl .e-list-item {
  padding-right: 0;
}

.e-popup.e-multi-select-list-wrapper.e-rtl .e-dropdownbase.e-rtl.e-dd-group .e-list-item {
  padding-right: $ddl-list-rtl-padding-right;
}

.e-multi-select-list-wrapper .e-selectall-parent {
  cursor: pointer;
  display: block;
  line-height: $ddl-select-all-height;
  overflow: hidden;
  position: relative;
  text-indent: $ddl-check-right;
  white-space: nowrap;
  width: 100%;
}

.e-multi-select-list-wrapper .e-selectall-parent .e-all-text {
  color: $ddl-multi-list-default-font-color;
  font-family: $ddl-chip-font-family;
  font-size: $ddl-selectall-font-size;
}

.e-bigger .e-multi-select-list-wrapper .e-selectall-parent {
  font-size: $ddl-chip-font-size;
  line-height: $ddl-bigger-select-all-height;
  text-indent: $ddl-bigger-check-right;
}

.e-multi-select-list-wrapper .e-selectall-parent .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $ddl-check-right-margin;
  position: relative;
  text-indent: 0;
  vertical-align: middle;
}

.e-bigger .e-multi-select-list-wrapper .e-selectall-parent .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $ddl-bigger-check-right-margin;
}

.e-multi-select-list-wrapper.e-rtl .e-selectall-parent .e-checkbox-wrapper {
  margin-left: $ddl-check-left;
  margin-right: 0;
}

.e-multiselect .e-input-group-icon.e-ddl-icon {
  float: right;
  margin-top: $ddl-check-icon-top;
  @if $ddl-multiselect-skin-name == 'bootstrap' {
    height: 36px;
    width: 36px;
  }
}

.e-multiselect.e-rtl .e-input-group-icon.e-ddl-icon {
  float: left;
}

.e-multiselect .e-ddl-icon::before {
  @if $ddl-multiselect-skin-name == 'material' {
    transform: rotate(0deg);
    transition: transform 300ms ease;
  }
}

.e-multiselect.e-icon-anim .e-ddl-icon::before {
  @if $ddl-multiselect-skin-name == 'material' {
    transform: rotate(180deg);
    transition: transform 300ms ease;
  }
}

.e-multiselect.e-checkbox .e-multi-select-wrapper,
.e-multiselect .e-multi-select-wrapper.e-down-icon {
  padding: 2px 0 0;
  @if $ddl-multiselect-skin-name != 'material' {
    padding: 0;
  }
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-filter,
.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-group.e-input-focus .e-input-filter {
  padding: $ddl-filterbar-padding;
}

.e-bigger .e-ddl.e-popup.e-multi-select-list-wrappe .e-filter-parent .e-input-filter,
.e-bigger .e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-group.e-input-focus {
  padding: $ddl-bigger-filterbar-padding;
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-clear-icon,
.e-bigger .e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-clear-icon {
  padding-left: 8px;
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-back-icon {
  margin: $ddl-back-icon-margin;
  padding: $ddl-back-icon-padding;
  position: absolute;
}

.e-bigger .e-checkbox .e-multi-select-wrapper .e-delim-values {
  @if $ddl-multiselect-skin-name != 'highcontrast' {
    line-height: $ddl-delimviewheight-check-bigger;
  }
}

.e-checkbox .e-multi-select-wrapper .e-delim-values .e-remain {
  line-height: 20px;
  padding-left: 10px;
}

.e-popup.e-multi-select-list-wrapper .e-list-item.e-disable .e-checkbox-wrapper .e-frame {
  opacity: .3;
}

.e-popup.e-multi-select-list-wrapper .e-list-item.e-disable {
  opacity: .7;
}

.e-multi-select-wrapper input[readonly='true'] {
  pointer-events: none;
}

.e-multiselect.e-checkbox .e-multi-select-wrapper .e-searcher {
  pointer-events: none;
}

ejs-multiselect {
  display: block;
}
